In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

import numpy as np

In [25]:
df = pd.read_csv('forestfires.csv')

In [26]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [27]:
train, test = train_test_split(df, test_size=0.1)

In [28]:
test.pop('area')

319     4.41
255     0.00
204    13.99
364     5.65
477     7.36
73      0.00
63      0.00
227    58.30
501     0.00
151     1.36
363     2.93
92      0.00
296     0.90
276    17.85
412     1.63
416     7.02
70      0.00
369     0.00
207    17.20
443     0.00
482     1.29
478     2.21
112     0.00
340     3.93
380     7.73
505     5.80
293    86.45
280     9.27
153     1.46
337    56.04
24      0.00
160     1.75
19      0.00
141     0.55
446     0.00
506     0.00
20      0.00
65      0.00
203    13.70
387     0.00
127     0.00
497    14.68
385    16.00
25      0.00
104     0.00
484    26.43
113     0.00
128     0.00
120     0.00
147     0.96
125     0.00
281    24.77
Name: area, dtype: float64

In [29]:
test.head()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain
319  5  4   sep  thu  92.8  119.0  783.5   7.5  21.6  28   6.3   0.0
255  2  5   aug  thu  87.5   77.0  694.8   5.0  22.3  46   4.0   0.0
204  5  6   mar  sat  90.6   50.1  100.4   7.8  15.1  64   4.0   0.0
364  6  5   sep  tue  91.9  111.7  770.3   6.5  21.1  35   2.7   0.0
477  4  3   jul  sun  93.7  101.3  423.4  14.7  26.1  45   4.0   0.0

In [30]:
train.to_json('train', orient='records')
test.to_json('predict', orient='records')

In [31]:
def loadcsv(df): 
    df1 = df
    #Convert the categorical data into binary values
    df_bin = df1.join(pd.get_dummies(df1.pop('day'))) 
    df_bin = df_bin.join(pd.get_dummies(df_bin.pop('month')))
    df_bin.pop('sun')
    try:
        df_bin.pop('dec')
    except:
        return df_bin
    #df_bin = df_bin[df_bin['area'] < 3.2]  
    # df_bin.loc[df.area > 0, 'area']= 1
    #Return the database
    return df_bin

In [32]:
test_preprocessed = loadcsv(test)

In [33]:
test_preprocessed.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,tue,wed,apr,aug,jan,jul,jun,mar,oct,sep
319,5,4,92.8,119.0,783.5,7.5,21.6,28,6.3,0.0,...,0,0,0,0,0,0,0,0,0,1
255,2,5,87.5,77.0,694.8,5.0,22.3,46,4.0,0.0,...,0,0,0,1,0,0,0,0,0,0
204,5,6,90.6,50.1,100.4,7.8,15.1,64,4.0,0.0,...,0,0,0,0,0,0,0,1,0,0
364,6,5,91.9,111.7,770.3,6.5,21.1,35,2.7,0.0,...,1,0,0,0,0,0,0,0,0,1
477,4,3,93.7,101.3,423.4,14.7,26.1,45,4.0,0.0,...,0,0,0,0,0,1,0,0,0,0

In [34]:
train_preprocessed = loadcsv(train)

In [35]:
train_preprocessed.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,aug,feb,jan,jul,jun,mar,may,nov,oct,sep
298,8,6,91.2,147.8,377.2,12.7,19.6,43,4.9,0.0,...,0,0,0,0,1,0,0,0,0,0
318,6,5,92.8,119.0,783.5,7.5,21.6,27,2.2,0.0,...,0,0,0,0,0,0,0,0,0,1
211,7,4,93.5,139.4,594.2,20.3,5.1,96,5.8,0.0,...,1,0,0,0,0,0,0,0,0,0
355,4,4,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,...,0,0,0,0,0,0,0,0,0,1
362,7,4,88.2,55.2,732.3,11.6,15.2,64,3.1,0.0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
train_cols = train_preprocessed.columns
test_cols = test_preprocessed.columns
train_not_test = train_cols.difference(test_cols)

In [37]:
train_cols

Index(['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain',
       'area', 'fri', 'mon', 'sat', 'thu', 'tue', 'wed', 'apr', 'aug', 'feb',
       'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'],
      dtype='object')

In [38]:
train_not_test

Index(['area', 'feb', 'may', 'nov'], dtype='object')

In [17]:
zeros = np.zeros(52,dtype=int)

In [43]:
test_preprocessed['nov'] = zeros

In [65]:
test_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 319 to 281
Data columns (total 27 columns):
X       52 non-null int64
Y       52 non-null int64
FFMC    52 non-null float64
DMC     52 non-null float64
DC      52 non-null float64
ISI     52 non-null float64
temp    52 non-null float64
RH      52 non-null int64
wind    52 non-null float64
rain    52 non-null float64
fri     52 non-null uint8
mon     52 non-null uint8
sat     52 non-null uint8
thu     52 non-null uint8
tue     52 non-null uint8
wed     52 non-null uint8
apr     52 non-null uint8
aug     52 non-null uint8
feb     52 non-null int32
jan     52 non-null uint8
jul     52 non-null uint8
jun     52 non-null uint8
mar     52 non-null uint8
may     52 non-null int32
nov     52 non-null int32
oct     52 non-null uint8
sep     52 non-null uint8
dtypes: float64(7), int32(3), int64(3), uint8(14)
memory usage: 8.3 KB

In [45]:
test_preprocessed = test_preprocessed[['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'fri', 'mon', 'sat', 'thu', 'tue', 'wed', 'apr', 'aug', 'feb',
       'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']]

In [49]:
test_preprocessed.to_json('predict_pp', orient='records')

In [50]:
train_preprocessed.to_json('train_pp', orient='records')

In [48]:
train_preprocessed.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,aug,feb,jan,jul,jun,mar,may,nov,oct,sep
298,8,6,91.2,147.8,377.2,12.7,19.6,43,4.9,0.0,...,0,0,0,0,1,0,0,0,0,0
318,6,5,92.8,119.0,783.5,7.5,21.6,27,2.2,0.0,...,0,0,0,0,0,0,0,0,0,1
211,7,4,93.5,139.4,594.2,20.3,5.1,96,5.8,0.0,...,1,0,0,0,0,0,0,0,0,0
355,4,4,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,...,0,0,0,0,0,0,0,0,0,1
362,7,4,88.2,55.2,732.3,11.6,15.2,64,3.1,0.0,...,0,0,0,0,0,0,0,0,0,1

In [55]:
a =[4.41,  0.00,    13.99,     5.65,     7.36,    0.00,      0.00,    58.30,   0.00,    1.36,     2.93,     0.00,    0.90,    17.85,     1.63,     7.02,      0.00,     0.00,    17.20,     0.00,     1.29,     2.21,     0.00,     3.93,     7.73,     5.80,    86.45,     9.27,     1.46,    56.04,     0.00,     1.75,     0.00,     0.55,     0.00,     0.00,     0.00,     0.00,    13.70,     0.00,     0.00,    14.68,    16.00,     0.00,     0.00,    26.43,     0.00,     0.00,     0.00,     0.96,     0.00,    24.77]

In [58]:
len(a)

52

In [59]:
predict_area = pd.DataFrame(a, columns =['area'])

In [64]:
predict_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 1 columns):
area    52 non-null float64
dtypes: float64(1)
memory usage: 544.0 bytes

In [63]:
predict_area.to_json('predict_area', orient='records')