In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split

import numpy as np

In [25]:
df = pd.read_csv('forestfires.csv')

In [26]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [27]:
train, test = train_test_split(df, test_size=0.1)

In [28]:
test.pop('area')

319     4.41
255     0.00
204    13.99
364     5.65
477     7.36
73      0.00
63      0.00
227    58.30
501     0.00
151     1.36
363     2.93
92      0.00
296     0.90
276    17.85
412     1.63
416     7.02
70      0.00
369     0.00
207    17.20
443     0.00
482     1.29
478     2.21
112     0.00
340     3.93
380     7.73
505     5.80
293    86.45
280     9.27
153     1.46
337    56.04
24      0.00
160     1.75
19      0.00
141     0.55
446     0.00
506     0.00
20      0.00
65      0.00
203    13.70
387     0.00
127     0.00
497    14.68
385    16.00
25      0.00
104     0.00
484    26.43
113     0.00
128     0.00
120     0.00
147     0.96
125     0.00
281    24.77
Name: area, dtype: float64

In [29]:
test.head()

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain
319  5  4   sep  thu  92.8  119.0  783.5   7.5  21.6  28   6.3   0.0
255  2  5   aug  thu  87.5   77.0  694.8   5.0  22.3  46   4.0   0.0
204  5  6   mar  sat  90.6   50.1  100.4   7.8  15.1  64   4.0   0.0
364  6  5   sep  tue  91.9  111.7  770.3   6.5  21.1  35   2.7   0.0
477  4  3   jul  sun  93.7  101.3  423.4  14.7  26.1  45   4.0   0.0

In [30]:
train.to_json('train', orient='records')
test.to_json('predict', orient='records')

In [31]:
def loadcsv(df): 
    df1 = df
    #Convert the categorical data into binary values
    df_bin = df1.join(pd.get_dummies(df1.pop('day'))) 
    df_bin = df_bin.join(pd.get_dummies(df_bin.pop('month')))
    df_bin.pop('sun')
    try:
        df_bin.pop('dec')
    except:
        return df_bin
    #df_bin = df_bin[df_bin['area'] < 3.2]  
    # df_bin.loc[df.area > 0, 'area']= 1
    #Return the database
    return df_bin

In [32]:
test_preprocessed = loadcsv(test)

In [33]:
test_preprocessed.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,tue,wed,apr,aug,jan,jul,jun,mar,oct,sep
319,5,4,92.8,119.0,783.5,7.5,21.6,28,6.3,0.0,...,0,0,0,0,0,0,0,0,0,1
255,2,5,87.5,77.0,694.8,5.0,22.3,46,4.0,0.0,...,0,0,0,1,0,0,0,0,0,0
204,5,6,90.6,50.1,100.4,7.8,15.1,64,4.0,0.0,...,0,0,0,0,0,0,0,1,0,0
364,6,5,91.9,111.7,770.3,6.5,21.1,35,2.7,0.0,...,1,0,0,0,0,0,0,0,0,1
477,4,3,93.7,101.3,423.4,14.7,26.1,45,4.0,0.0,...,0,0,0,0,0,1,0,0,0,0

In [34]:
train_preprocessed = loadcsv(train)

In [35]:
train_preprocessed.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,aug,feb,jan,jul,jun,mar,may,nov,oct,sep
298,8,6,91.2,147.8,377.2,12.7,19.6,43,4.9,0.0,...,0,0,0,0,1,0,0,0,0,0
318,6,5,92.8,119.0,783.5,7.5,21.6,27,2.2,0.0,...,0,0,0,0,0,0,0,0,0,1
211,7,4,93.5,139.4,594.2,20.3,5.1,96,5.8,0.0,...,1,0,0,0,0,0,0,0,0,0
355,4,4,92.1,99.0,745.3,9.6,20.8,35,4.9,0.0,...,0,0,0,0,0,0,0,0,0,1
362,7,4,88.2,55.2,732.3,11.6,15.2,64,3.1,0.0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
train_cols = train_preprocessed.columns
test_cols = test_preprocessed.columns
train_not_test = train_cols.difference(test_cols)

In [37]:
train_cols

Index(['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain',
       'area', 'fri', 'mon', 'sat', 'thu', 'tue', 'wed', 'apr', 'aug', 'feb',
       'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'],
      dtype='object')

In [38]:
train_not_test

Index(['area', 'feb', 'may', 'nov'], dtype='object')

In [17]:
zeros = np.zeros(52,dtype=int)

In [43]:
test_preprocessed['nov'] = zeros

In [ ]:
test_preprocessed.head()

In [20]:
test_preprocessed = test_preprocessed[['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'fri', 'mon', 'sat', 'thu', 'tue', 'wed', 'apr', 'aug', 'feb',
       'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep']]

KeyError: "['jan', 'apr', 'oct'] not in index"

In [21]:
test.to_json('predict', orient='records')

In [22]:
train.to_json('train', orient='records')

In [23]:
train.head()

     X  Y month  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
514  7  4   aug  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
495  6  6   aug  96.2  175.5  661.8  16.8  23.9  42   2.2   0.0   0.00
380  5  4   jul  93.7  101.3  458.8  11.9  19.3  39   7.2   0.0   7.73
50   4  4   sep  92.9  137.0  706.4   9.2  20.8  17   1.3   0.0   0.00
281  6  5   dec  85.4   25.4  349.7   2.6   5.1  24   8.5   0.0  24.77